<?php
/**
 * Trilogy Countrystore
 *
 * @category  Trilogy
 * @package   Trilogy_Countrystore 
 * @copyright 2015 Ekvitech
 * Developed by Arvind Rawat 
 */
$countryList=$block->getCountries();
$FormAction=$block->getFormActionUrl();
$cookieVal='';
$cookieVal=@$block->getMyCookie();
$html="<form name='countrysel' id='countrysel' method='post' action='".$FormAction."'>";
$html.="<select name='countrypref' id='countrypref'>";
foreach($countryList as $country){
	if($country['value'] && $country['label'])
	{
		$sel='';
		if($cookieVal==$country['label'])
		{
			$sel='selected';
		}
		$html.="<option value='".$country['label']."' ".$sel.">".$country['label']."</option>";
	}
}
$html.="</select>";
$html.="<div><input type='submit' name='sendme' id='sendme' value='Submit'></div>";
$html.="</form>";
$html.="<form name='delcookiefrm' id='delcookiefrm' method='post' action='".$FormAction."'>";
$html.="<div><input type='hidden' name='delcook' id='delcook' value='1'><input type='submit' name='delcookie' id='delcookie' value='Remove My Country Prefrence'></div>";
$html.="</form>";
echo $html;
?>